<html>
    <head>
        <!-- Layout CSS -->
        <style>
            [% labels_layout.content %]
        </style>

        <!-- Printer profile CSS -->
        <style>
            [% labels_printer_profile.content %]
        </style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    </head>

    <body>
        [% labels_template.content | eval %]
    </body>
</html>
