[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Label Maker Plugin</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; Label Maker &rsaquo; Example Tool</div>

<div id="doc3">
    Nothing to see here
[% INCLUDE 'intranet-bottom.inc' %]
